<div class="footer">
	<div class="container footer-content text-center">
		<p class='text-muted'>
			&copy; All rights reserved<br/>
			Designed by 
			<a href="http://www.emiliocorpus.com/">@emiliocorpus</a><br/>
		</p>
	</div>
</div>