<div class="container text-center">
	<h1>About FitBit Graphs</h1><br/>
	<p style="text-align:justify;">
		<p style="text-align:justify;">Greetings, my name is Emilio, a full-stack web developer and thanks for giving this page a look! Fitbit Graphs is designed with the intent to better visualize data collected by Fitbit trackers. Currently this application uses <a href="http://www.chartjs.org/">Charts.js</a> to plot <strong>calories burned</strong> and <strong>steps taken</strong> over a 30 day time span. The data is obtained through the <a href="https://dev.fitbit.com/">Fitbit API</a> but can only be accessed if authorized by you. FitbitGraphs does not store any data and is currently a <i>read-only</i> application, but this may change in the future. <br/>
		</p>

		<p style="text-align:justify;"><u>Inspiration:</u><br/>
		I am an avid gym goer and I use my <a href="https://www.fitbit.com/blaze">Fitbit Blaze</a> constantly. I am always trying to enhance my web skills and one day while working out it hit me, "I should make a web-app that can make calls to the Fitbit API!" Originally, my plan was to use the API to create better charts for heart-rate data. Unfortunately Fitbit does not readily grant developers access to heart rate data so I had to improvise. As of now, the app accesses calories burned, steps taken, and badges earned.</p> 

		<p style="text-align:justify;"><u>Technologies Used:</u><br/>
		This website was built with <strong>Ruby on Rails, Charts.js, JQuery,</strong> and of course <a href="https://dev.fitbit.com">Fitbit API</a> through the use of Oauth2.</p>
	</p>
</div>
