<div class="container text-center">
	<h1>Welcome to FitBit Graphs!</h1>
	<p style="text-align:justify;">
		Hello, my name is Emilio and thanks for giving this page a look! I designed this application to gain better experience in Oauth2, Ruby on Rails and HTML/CSS. I am an avid gymaholic and do make use of my Fitbit Blaze often. One day, while I was working out at my local gym I thought to myself "wouldn't it be cool to try and digest the Fitbit API?" One thing lead to another and.. boom! This project is definitely still under construction but I was able to figure out how to access user data through the help of a few gems.
	</p>
</div>
