<div class="container text-center">
	<h1>Welcome to FitBit Graphs!</h1>
	<p style="text-align:justify;">
		FitbitGraphs.com makes use of the FitbitAPI in conjuction with Charts.js in order to provide users the ability to better visualize their Fitbit data. To use this web-app please log in with your Fitbit account information and authorize this application! Click below to learn more about how this application was constructed.
	</p>
	<p>
		<%= link_to "Learn More", about_path, :class => "btn btn-primary btn-lg", :role => "button" %>
	</p>
</div>



