<div class="debugger">
	<p class="debugger intro-paragraph" >
		FitbitGraphs.com makes use of the FitbitAPI in conjuction with [insert graphing framework here] in order to provide users the ability to see better visualize their data. To use this web-app please sign in with your Fitbit account information!
	</p>
</div>
