<div class="body-container">
	<div class="jumbotron">
		<div class="container text-center">
		  <h1>Welcome to Fit-Bit Graphs!</h1>
		  <p>FitbitGraphs.com makes use of the FitbitAPI in conjuction with [insert graphing framework here] in order to provide users the ability to see better visualize their data. To use this web-app please sign in with your Fitbit account information!</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>


