<script src="/assets/Chart.js"></script>


<div class="text-center graphs-page">
	<h1>Welcome back <%= current_user.fitbit_client.user_info['user']['fullName'].downcase.capitalize %></h1>

		<canvas id="myChart"></canvas>
		<script>
			var ctx = document.getElementById("myChart");
			var jsLabels = []
			for (var i = 1; i <= <%= @data_set[:days] %>; i++) {
				jsLabels.push("Day " + i.toString())
			}
			var data = {
			    labels: jsLabels,
			    datasets: [
			        {
			            label: "calories",
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 1,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			            data: <%= @data_set[:values] %>
			        }
			    ]
			};
		    var myChart = new Chart(ctx, {
		        type: 'line',
		        data:  data,
		        options: {
		                xAxes: [{
		                    display: false
		                }]
		            }
		    });
		</script>
</div>



