<div class="text-center graphs-page">
	<h1>Welcome back <%= current_user.fitbit_client.user_info['user']['fullName'].downcase.capitalize%></h1>

	<div class="data" >
		<%= @output %>
	</div>
</div>



