// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.debugger {
	border: 1px solid red;
}

.banner {
	background-color:#53D8C5;
	color:white;

}

.intro-paragraph {
	width: 75%;
	margin-left:15%;
}